--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.vkontakte.ru/method/logger?access_token=
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/javascript; charset=utf-8
    body: "{\"error\":{\"error_code\":5,\"error_msg\":\"User authorization failed: no access_token passed.\",\"request_params\":[{\"key\":\"oauth\",\"value\":\"1\"},{\"key\":\"method\",\"value\":\"logger\"},{\"key\":\"access_token\",\"value\":\"\"}]}}"
  recorded_at: Tue, 31 Jan 2012 13:00:11 GMT
- request: 
    method: get
    uri: https://api.vkontakte.ru/method/getUserInfo?access_token=
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: "{\"error\":{\"error_code\":5,\"error_msg\":\"User authorization failed: no access_token passed.\",\"request_params\":[{\"key\":\"oauth\",\"value\":\"1\"},{\"key\":\"method\",\"value\":\"getUserInfo\"},{\"key\":\"access_token\",\"value\":\"\"}]}}"
  recorded_at: Wed, 25 Apr 2012 07:02:35 GMT
recorded_with: VCR 2.0.0.rc1
